{
	"appId":"ALIPUB190A518161546",
	"appKey":"ALIPUB190A518161546_ANDROID",
	"base64Code":"",
	"packageName":"com.ke.demo.push",
	"rootPath":"mpaas/android/ALIPUB190A518161546-default",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"msync.mpaas.cn-hangzhou.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"push.mpaas.cn-hangzhou.aliyuncs.com",
	"rpcGW":"https://mgw.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"logGW":"https://mdap.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasapi":"https://mpaasapi.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"mrtcserver":"wss://mrtc.mpaas.cn-hangzhou.aliyuncs.com/ws",
	"mdc":"https://mdc.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"ONEX_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"ITkUNvdm4gVQs3xWQqYnJB+UgWIalcMl5dZJHG05qSLX7B16bGNR+K6ufY1LgWB3tfy724CRyMZceG0G/RNwBgWj5/EX4mwoYcqxyQusVXkLJ2efN6GJ+rXuDNN8bQeZPSPCm9338SC8BLz9GaE6t2b3w4yxOlwrTq6w7jGXFS2nS/S64a8HJgQR/kXaH5FeYWwH7NgoygSi43lsMD/T5L15weqWkAP6B+LaSCXwJ8EldiOJCOhdOLyQ6ZUgtLh+uCmEjXDLOrhGc6df5eEkzBjOw3TnHzLs6JW+o4hbNbY6o/0rWt8d/MeiFy+Qb914qDWB010V26J/HNhzUVXlWg=="
}