<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ke.demo.push">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Push_demo">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyPushMsgService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.push.action.MESSAGE_RECEIVED" />
                <action android:name="${applicationId}.push.action.REGISTRATION_ID" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </service>

        <service
            android:name="com.alipay.pushsdk.push.NotificationService"
            android:enabled="true"
            android:exported="false"
            android:label="NotificationService"
            android:process=":push">
            <intent-filter>
                <action android:name="${applicationId}.push.action.START_PUSHSERVICE" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.alipay.pushsdk.BroadcastActionReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":push">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>